@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');



html {
  background-color: rgb(221, 215, 214);
  font-family: "Nunito", sans-serif;
}




@media only screen and (max-width: 800px) {
    .WidgetsRow {

        display: flex;
        flex-direction: column;
        width: 300px;


    }

    .ProjectWidget {
        width: 100% !important;
        height: 28% !important;
        
    }

}

@media only screen and (min-width: 801px) {
    .WidgetsRow {
        display: flex;
        flex-direction: row;

        padding: 0 5% 0 5%;

    }


}


a h1 {
    margin: 8px 0 0 0;
    font-weight: 600;
    font-size: large;
}

img {
    width: 90%;
    margin: 0 auto;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 8px auto 8px auto;
}


.ProjectWidget:hover {
    transform: scale(1.02);
    transform-origin: center;

    transition: transform 0.1s;
}