@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




html {

  .light {
    background-color: rgb(221, 215, 214);
  }

  .dark {
    background-color: rgb(201, 195, 194);
  }

  font-family: "Nunito", sans-serif;
  
}

/*
    background-color: rgb(201, 195, 194);
*/




@media only screen and (max-width: 800px) {

  .ToggleNav {
    display: auto;
  }

  .FullNav {
    display: none;
  }


  .WidgetsRow {

    display: flex;
    flex-direction: column;
    width: 300px;


  }

  .ProjectWidget {

    width: 100% !important;
    height: 28% !important;
      
  }

  .InfoLinks {
    margin-left: 0;
  }

  .Row1 {
    flex: 50%;
    max-width: 50%;
  }

}

@media only screen and (min-width: 801px) {


  .ToggleNav {
    display: none;
  }

  .FullNav {
    display: auto;

  }

  .WidgetsRow {

    display: flex;
    flex-direction: row;

    padding: 0 5% 0 5%;

  }



  .Row1 {
    flex: 100%;
    max-width: 100%;
  }


}

.ToggleNav div {
  background-color: rgb(230, 224, 223);
}

h1 {

  font-size: 30px;
  text-align: center;
  font-weight: bold;;

}

h2 {

  font-size: 23px;
  text-align: center;
  text-decoration: underline;

}

h3 {

  font-size: 20px;
  text-align: center;
  text-decoration: underline;

}

h4 {

  font-weight: 600;
  font-size: 18px;


}

h5 {
  font-size: 17px;
}


a h1 {
  margin: 8px 0 0 0;
  font-weight: 600;
  font-size: large;
}


p.LContainer1 {
  display: flex;
  flex-direction: row;


}


a.Link1 {
  display: flex;
  flex-direction: row;
  
  color: rgb(67, 67, 109);

}


.Image1 {
  width: 90%;
  margin: 0 auto;
  border: 2px solid lightgray;
  border-radius: 8px;
  margin: 8px auto 8px auto;
}

.Image2 {
  border: 2px solid rgb(97, 97, 97);
  border-radius: 8px;
  margin: 10px 10px;
}

.ProjectWidget {
  filter: grayscale(100%);
}

.ProjectWidget:hover {

  transform: scale(1.02);
  transform-origin: center;

  transition: transform 0.1s;

}



.Column1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px 0 0;
  
}

/* Create four equal columns that sits next to each other */
.Row1 {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;

}

.Row1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
